$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...

#main {
  padding-top: 80px;
}

.navbar-brand {
    padding-top: 0;
}

.navbar-brand span {
    padding-top: 18px;
    display: block;
    float: left;
}

.navbar-brand::after {
    content: "Î±";
    position: absolute;
    top: 10px;
    left: 145px;
    font-weight: bold;
    font-size: 10px;
    line-height: 7px;
    z-index: 2;
    padding: 4px;
    background: rgb(229, 139, 21);
    border-radius: 50px;
    color: white;
}

.coding-area__editor-container {
  border: 1px solid #CCC;
  border-top: none;
  height: 425px;
}

.coding-area__editor-container .CodeMirror {
  height: 424px;
}

.coding-area__toolbar {
  margin-bottom: 20px;
}

.coding-area__load-addr {
  padding: 6px 0 5px;
}

.assembler-error {
  font-size: 70%;
  background: #ffa;
  color: #a00;
  padding: 2px 5px 3px;
}

.coding-area__editor__breakpoint-marker {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #822;
  margin: 3px;
}

.coding-area__editor_running-marker {
    background: #bbdbec;
}

.memory-view__cells  {
    list-style: none;
    padding: 0;
    font-size: 0.8em;
    margin-bottom: 10px;
}

.memory-view__cells thead td,
.memory-view__cells th {
    font-weight: bold;
}

.memory-view__cells tbody > tr > td,
.memory-view__cells tbody > tr > th {
    padding: 5px;
    text-align: center;
}

td.memory-view__cell_highlight {
    background: #ffe976;
}

table.memory-view__cells {
  overflow: hidden;
}

table.memory-view__cells td,
table.memory-view__cells th {
  padding: 10px;
  position: relative;
  outline: 0;
}

body:not(.nohover) tbody tr:hover {
  background-color: #ffa !important;
}

table.memory-view__cells td:hover::after,
table.memory-view__cells thead th:not(:empty):hover::after,
table.memory-view__cells td:focus::after,
table.memory-view__cells thead th:not(:empty):focus::after {
  content: '';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1;
}

table.memory-view__cells td:hover::after,
table.memory-view__cells th:hover::after {
  background-color: #ffa !important;
}

table.memory-view__cells td:focus::after,
table.memory-view__cells th:focus::after {
  background-color: lightblue;
}

ul.memory-view__range-scale {
    padding: 0;
    list-style: none;
}

ul.memory-view__range-scale li {
    float: left;
    padding-right: 3px;
    font-size: 0.7em;
}

.memory-view__cell__input,
.reg-display__reg-input {
    display: inline-block;
    width: 70%;
    border: none;
    border-bottom: 1px solid #CCC;
    padding-left: 3px;
}

.reg-display__acc-input {
    display: inline-block;
    width: 30%;
    border: none;
    border-bottom: 1px solid #CCC;
    padding-left: 3px;
}

.memory-view__cell__input { width: 100%; }

.reg-display__reg-input:focus {
    outline: none;
}

.reg-display__edit-icon {
  color: #666;
  margin-left: 8px;
  cursor: pointer;
  visibility: hidden;
}

.reg-display__row:hover .reg-display__edit-icon {
  visibility: visible;
}

.footer {
  background: #f5f5f5;
  font-size: 0.8em;
  padding: 10px 10px 0 10px;
  color: #888;
  margin-top: 40px;
}
