---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Changelog - Sim8085" showActions={false} fullwidth={false}>
    <main class="privacy-policy max-w-4xl mx-auto py-8 px-4">
        <h1 class="text-2xl mb-10 font-bold">Help Keep Sim8085 Growing</h1>
        <div class="flex md:gap-16 items-start flex-wrap justify-stretch">
            <div class="mb-8 md:mb-4 min-w-[200px]">
                <h2 class="text-xl border-b-0 border-b-secondary-border mb-4">Buy Me a Coffee</h2>
                <div>
                    <a href="https://www.buymeacoffee.com/sim8085"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=☕&slug=sim8085&button_colour=FFDD00&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=ffffff" /></a>
                </div>
                <p class="mt-2 text-secondary-foreground text-sm">
                    Best for card payments.
                </p>
            </div>
            <div class="mb-8 md:mb-4">
                <h2 class="text-xl border-b-0 border-b-secondary-border mb-4">Razorpay</h2>
                <div>
                    <form><script is:inline src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_PRRyue1p9GnvTp" async> </script> </form>
                </div>
                <p class="mt-1 text-secondary-foreground text-sm">
                    Best for Indian users. Supports UPI payments.
                </p>
            </div>
        </div>
    <div class="mt-6">
        <p class="mb-6 text-lg leading-relaxed">
Sim8085 is designed and maintained by a <a href="https://www.debjitbiswas.com">single developer</a> who has decided to leave their day job to focus full-time on projects like this. This decision allows for continuous improvements and new features, but it also means that they depend on donations for their livelihood. The goal is to provide students and educators with an efficient tool for learning and working with the 8085 microprocessor.
        </p>

        <p class="mb-6 text-lg leading-relaxed">
            Your support helps keep Sim8085 accessible to students worldwide and ensures continuous improvement. Contributions directly aid in maintaining the platform, adding new features, and improving the overall experience for users.
        </p>

        <p class="mb-6 text-lg leading-relaxed">
            <span class="underline underline-offset-4">If you’re unable to donate</span>, there are other ways to show your support:
        </p>

            <div class="text-lg">
                <div class="mb-8">
                    <h3 class="font-bold mb-4">📣 Spread the Word</h3>
                    <p>
                        Share Sim8085 with your classmates, colleagues, or on social media to help more people discover and benefit from it.
                    </p>
                </div>
                <div>
                    <h3 class="font-bold mb-4">⭐ Star the Project on GitHub</h3>
                    <p>
                        Starring the repository not only shows your appreciation but also helps the project gain visibility and encourages contributions from the community.
                    </p>
                    <p class="mt-4 mb-6">
                        <a class="github-button" href="https://github.com/debjitbis08/sim8085" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star debjitbis08/sim8085 on GitHub">Star</a>
                    </p>
                </div>
                <div>
                    <h3 class="font-bold mb-4">💡 Provide Feedback</h3>
                    <p>
                        Have suggestions or ideas? Share your thoughts on our <a href="https://github.com/debjitbis08/sim8085/discussions/categories/ideas">discussion forums</a> on GitHub and shape future updates.
                    </p>
                    <p class="mt-4 mb-6">
                        <a class="github-button" href="https://github.com/debjitbis08/sim8085/discussions" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-comment-discussion" data-size="large" aria-label="Discuss debjitbis08/sim8085 on GitHub">Discuss</a>
                    </p>
                </div>
                <div>
                    <h3 class="font-bold mb-4">🛠️ Contribute to the Project</h3>
                    <p>
                        If you’re familiar with coding or documentation, consider contributing to the Sim8085 project on GitHub. I need help with writing the documentation for all the instructions and directives.
                    </p>
                    <p class="mt-4 mb-6">
                        <a class="github-button" href="https://github.com/debjitbis08/sim8085/fork" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork debjitbis08/sim8085 on GitHub">Fork</a>
                    </p>
                </div>
            </div>


        <p class="mb-6 text-lg leading-relaxed">
            Additionally, I plan to create detailed tutorials on 8085 assembly language programming to make learning more effective. These tutorials will be priced affordably to ensure they remain accessible to students.
        </p>

        <p class="text-lg leading-relaxed">
            Thank you for your support in keeping Sim8085 running and improving—it’s your involvement that helps this tool continue to grow!
        </p>
    </div>
    </main>
</Layout>

<style>
a {
    @apply text-blue-500;
}
</style>

<script is:inline  defer src="https://buttons.github.io/buttons.js"></script>
