---
import Layout from '../layouts/Layout.astro';
import Tips from '../components/Tips.astro';
import { App } from '../components/App.jsx';
import { RightPanel } from '../components/RightPanel.jsx';
import { CodeMirror } from '../components/codemirror/CodeMirror.jsx';
import { Assembled } from '../components/Assembled.jsx';
import { Actions } from '../components/Actions.jsx';
import '../components/styles.css';
---

<Layout title="Sim8085 - A 8085 microprocessor simulator" showActions={true} fullwidth={true} smallFooter={true}>
    <!-- <Tips /> -->
    <main class="relative">
        <div
            class="flex items-start h-[calc(100dvh-4rem)] md:h-[calc(100vh-6.2rem)]"
        >
            <!-- Left Panel with fixed width -->
            <div
                class="absolute md:static z-10 min-w-max max-w-[400px]"
            >
                <RightPanel client:idle />
            </div>

            <!-- Middle Panel that can grow, but with a min and max width to remain stable -->
            <div
                class="pl-10 pr-8 md:pr-0 md:pl-0 border-y border-y-main-border bg-secondary-background flex-grow min-w-0"
            >
                <div class="hidden md:flex">
                    <div class="grow">
                        <div class="flex items-center">
                            <div class="flex items-center gap-1 py-1 px-2 rounded-sm bg-main-background">
                                <span class="text-[0.5rem] text-red-foreground pt-1">ASM</span>
                                <span>main.asm</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="flex justify-center md:hidden">
                    <Actions client:idle />
                </div> -->
                <CodeMirror client:load />
            </div>

            <!-- Right Panel with fixed width -->
            <div
                class="flex min-w-max items-start h-[calc(100dvh-4rem)] md:h-[calc(100vh-6.2rem)]"
            >
                <Assembled client:idle />
            </div>
        </div>

        <!-- Mobile warning message -->
        <!-- <div class="flex md:hidden justify-center items-start bg-gray-100 dark:bg-gray-900" style="height: calc(100vh - 6rem);">
            <p class="text-center dark:text-red-800 text-lg font-semibold mt-10 px-4">
                Sim8085 is not supported on mobile devices. Please use a larger screen for the best experience.
            </p>
        </div> -->
    </main>
</Layout>
