---
import Layout from '../layouts/Layout.astro';
import Tips from '../components/Tips.astro';
import { LeftPanel } from '../components/LeftPanel.jsx';
import { RightPanel } from '../components/RightPanel.jsx';
import { CodingArea } from '../components/CodingArea.jsx';
import { PlusDialog } from '../components/PlusDialog.jsx';
import { DonationPlea } from '../components/DonationPlea.jsx';
import { NatoryAd } from '../components/NatoryAd.jsx';
---

<Layout title="Sim8085 | A 8085 microprocessor simulator" showActions={true} fullwidth={true} fullHeight={true} smallFooter={true}>
    <Tips />
    <main class="relative h-full">
        <div
            class="flex items-start h-full md:h-[calc(100vh-6.2rem)]"
        >
            <!-- Left Panel with fixed width -->
            <div
                id="left-panel"
                class="absolute md:static z-10 min-w-max max-w-[400px] hidden md:block"
            >
                <LeftPanel client:idle />
            </div>

            <!-- Middle Panel that can grow, but with a min and max width to remain stable -->
            <div
                class="px-2 md:px-0 md:pr-0 md:pl-0 border-y border-y-main-border bg-main-background md:bg-secondary-background flex-grow min-w-0 h-full"
            >
                <!-- <div class="flex justify-center md:hidden">
                    <Actions client:idle />
                </div> -->
                <CodingArea client:load />
            </div>

            <!-- Right Panel with fixed width -->
            <div
                id="right-panel"
                class="hidden md:flex min-w-max items-start h-full md:h-[calc(100vh-6.2rem)] overflow-x-hidden overflow-y-hidden absolute md:static right-0"
            >
                <RightPanel client:idle />
            </div>
        </div>

        <PlusDialog client:idle />

        <DonationPlea client:idle />

        <NatoryAd client:idle />

        <!-- Mobile warning message -->
        <!-- <div class="flex md:hidden justify-center items-start bg-gray-100 dark:bg-gray-900" style="height: calc(100vh - 6rem);">
            <p class="text-center dark:text-red-800 text-lg font-semibold mt-10 px-4">
                Sim8085 is not supported on mobile devices. Please use a larger screen for the best experience.
            </p>
        </div> -->
    </main>
</Layout>

<script>
    import { supabase } from '../lib/supabase.js';

    // Function to handle the OAuth tokens from URL
    async function handleOAuthTokens() {
        const hash = window.location.hash;
        if (hash) {
            const params = new URLSearchParams(hash.substring(1)); // Remove '#' and parse
            const access_token = params.get('access_token');
            const refresh_token = params.get('refresh_token');

            if (supabase && access_token && refresh_token) {
                // Set the session in Supabase
                await supabase.auth.setSession({
                    access_token,
                    refresh_token,
                });

                // Redirect to clear the URL hash and go to dashboard
                window.location.replace('/'); // Update with the correct path for your app
            }
        }
    }

    function handleDonationPlea() {
        // setTimeout(() => {
        //     window.dispatchEvent(
        //         new CustomEvent("showDonationDialog", {
        //             detail: {},
        //         })
        //     );
        // }, 5000);
    }

    document.addEventListener('DOMContentLoaded', () => {
        handleOAuthTokens();
        handleDonationPlea();
    });

    window.addEventListener("showLeftPanel", () => {
        const el = document.getElementById("left-panel");
        if (el) {
            if (el.classList.contains("hidden")) {
                el.classList.remove("hidden");
            } else {
                el.classList.add("hidden");
            }
        }
    });

    window.addEventListener("showRightPanel", () => {
        const el = document.getElementById("right-panel");
        if (el) {
            if (el.classList.contains("hidden")) {
                el.classList.remove("hidden");
            } else {
                el.classList.add("hidden");
            }
        }
    });
</script>
