html[data-theme="dark"] {
    --sm-primary-50: 238 251 243;
    --sm-primary-100: 214 245 225;
    --sm-primary-200: 177 233 200;
    --sm-primary-300: 126 215 169;
    --sm-primary-400: 73 190 132;
    --sm-primary-500: 38 162 105;
    --sm-primary-600: 24 131 84;
    --sm-primary-700: 19 105 69;
    --sm-primary-800: 18 83 57;
    --sm-primary-900: 15 69 48;
    --sm-primary-950: 8 38 27;

    --sm-primary: var(--sm-primary-600);

    --sm-gray-50: 248 248 248; /* #f8f8f8 */
    --sm-gray-100: 240 240 240; /* # */
    --sm-gray-200: 220 220 220; /* #dcdcdc */
    --sm-gray-300: 240 240 240; /* # */
    --sm-gray-400: 115 115 115; /* #989898 */
    --sm-gray-500: 125 126 130; /* #7c7c7c */
    --sm-gray-600: 101 101 101; /* #656565 */
    --sm-gray-700: 82 82 82; /* #525252 */
    --sm-gray-800: 69 74 84; /* #464646 */
    --sm-gray-900: 32 35 39; /* #3d3d3d */
    --sm-gray-950: 21 24 30; /* #151814 */

    --sm-page-background: 46 49 56; /* #2e3138 */
    --sm-main-background: var(--sm-gray-950);
    --sm-secondary-background: var(--sm-gray-900);
    --sm-main-border: var(--sm-gray-800);

    --sm-primary-foreground: var(--sm-gray-100);
    --sm-primary-border: var(--sm-gray-600);

    --sm-secondary-foreground: var(--sm-gray-500);
    --sm-secondary-border: var(--sm-gray-600);

    --sm-active-foreground: var(--sm-gray-100);
    --sm-active-background: var(--sm-gray-800);
    --sm-active-border: var(--sm-gray-700);

    --sm-inactive-foreground: var(--sm-gray-400);
    --sm-inactive-border: var(--sm-gray-800);

    --sm-red-foreground: 248 113 113; /* #*/
    --sm-green-foreground: 21 128 61; /* #15803d */
    --sm-yellow-foreground: 234 179 8; /* #eab308 */
    --sm-blue-foreground: 96 165 250; /* #60a5fa */
    /* --sm-orange-foreground: 251 146 60; /* #fb923c */
    --sm-orange-foreground: 253 186 116; /* #fdba74 */

    /* Editor colors */
    --sm-editor-active-line: 23 42 81; /* #1f2937 */
    --sm-editor-debug-line: 37 99 235; /* #2563eb */
    --sm-editor-active-line-gutter: 255 255 255;
    --sm-editor-cursor: 209 213 219; /* #d1d5db */
    --sm-editor-selection-background: 30 58 138; /* #1e3a8a */

    --sm-editor-opcode: 74 222 128;
    --sm-editor-directive: 96 165 250;
    --sm-editor-label: 250 204 21;
    --sm-editor-comment: 107 114 128;
    --sm-editor-register: 248 113 113;
    --sm-editor-number: 251 146 60;
    --sm-editor-string: 234 88 12;
    --sm-editor-operator: 244 114 182;
    --sm-editor-punctuation: 75 85 99;
}
