html[data-theme="light"] {
    --sm-primary-50:  #eefbf3;
    --sm-primary-100: #d6f5e1;
    --sm-primary-200: #b1e9c8;
    --sm-primary-300: #7ed7a9;
    --sm-primary-400: #49be84;
    --sm-primary-500: #26a269;
    --sm-primary-600: #188354;
    --sm-primary-700: #136945;
    --sm-primary-800: #125339;
    --sm-primary-900: #0f4530;
    --sm-primary-950: #08261b;

    --sm-primary: var(--sm-primary-500);

    --sm-gray-50:  #fbfbfb;
    --sm-gray-100: #efefef;
    --sm-gray-200: #dcdcdc;
    --sm-gray-300: #bdbdbd;
    --sm-gray-400: #989898;
    --sm-gray-500: #7c7c7c;
    --sm-gray-600: #656565;
    --sm-gray-700: #525252;
    --sm-gray-800: #464646;
    --sm-gray-900: #3d3d3d;
    --sm-gray-950: #292929;

    --sm-page-background: #e8e8e8;
    --sm-main-background: var(--sm-gray-50);
    --sm-secondary-background: var(--sm-gray-100);
    --sm-main-border: var(--sm-gray-300);

    --sm-primary-foreground: var(--sm-gray-700);
    --sm-primary-border: var(--sm-gray-600);

    --sm-secondary-foreground: var(--sm-gray-500);
    --sm-secondary-border: var(--sm-gray-600);

    --sm-active-foreground: var(--sm-gray-700);
    --sm-active-background: var(--sm-gray-200);
    --sm-active-border: var(--sm-gray-300);

    --sm-inactive-foreground: var(--sm-gray-400);
    --sm-inactive-border: var(--sm-gray-400);

    --sm-red-foreground: #b91c1c;
    --sm-green-foreground: #22c55e;
    --sm-yellow-foreground: #eab308;
}
