<div
    x-data="cookieBanner"
    x-show="showBanner"
    class="z-[9999] fixed bottom-20 md:bottom-0 right-0 w-[80vw] md:w-[30vw] max-w-[500px] text-sm md:text-base p-4 m-4 rounded-md bg-secondary-background border border-secondary-border shadow-lg"
    style="display: none;"
>
    <p class="mb-2 text-sm">
        This site uses cookies to ensure the best experience for our users.
    </p>
    <p class="mb-4 text-sm">
        By continuing, you agree to the use of cookies.
    </p>
    <div class="flex items-center gap-4">
        <button @click="acceptCookies()" title="Thank You" class="consent-button text-sm text-white rounded border border-green-foreground text-primary-foreground bg-terminal-700 hover:bg-terminal">Got it</button>
        <button @click="declineCookies()" title="Really?" class="text-secondary-foreground text-sm hover:text-active-foreground">Skip</button>
    </div>
</div>

<script>
    import Alpine from 'alpinejs';

    const useTracking = import.meta.env.PUBLIC_USE_TRACKING === 'true';
    document.addEventListener('alpine:init', () => {
        Alpine.data('cookieBanner', () => ({
            showBanner: false,
            init() {
                requestIdleCallback(() => {
                    setTimeout(() => {
                        this.showBanner = useTracking && localStorage.getItem('cookie_consent') !== 'yes' && localStorage.getItem('cookie_consent') !== 'no';
                    }, 1500);
                });
            },
            acceptCookies() {
                localStorage.setItem('cookie_consent', 'yes');
                this.showBanner = false;
                if (window.posthog) {
                    posthog.set_config({ persistence: 'localStorage+cookie' });
                    import('./identify.js').then(mod => mod.identifyUser());
                }
            },
            declineCookies() {
                localStorage.setItem('cookie_consent', 'no');
                this.showBanner = false;
                import('./identify.js').then(mod => mod.identifyUser());
            }
        }));
    });
</script>
<style>
  .consent-button {
      @apply px-4;
      @apply py-2;
      @apply cursor-pointer;
      @apply rounded;
  }
</style>
