.bottomRightSlot {
    height: 250px;
    width: 100%;
}

/* Large screens with enough height */
@media (min-width: 1024px) and (min-height: 900px) {
    .bottomRightSlot {
        height: 600px;
        width: 100%;
    }
}

/* Large screens but shorter height */
@media (min-width: 1024px) and (max-height: 899px) {
    .bottomRightSlot {
        height: 500px;
        width: 100%;
    }
}

/* XL screens with enough height */
@media (min-width: 1440px) and (min-height: 900px) {
    .bottomRightSlot {
        height: 600px;
        width: 100%;
    }
}

/* XL screens but shorter height */
@media (min-width: 1440px) and (max-height: 899px) {
    .bottomRightSlot {
        height: 500px;
        width: 100%;
    }
}
