.bottomRightSlot {
    width: 300px;
    height: 250px;
}

@media (min-width: 1024px) {
    .bottomRightSlot {
        width: 300px;
        height: 600px;
    }
}

@media (min-width: 1440px) {
    .bottomRightSlot {
        width: 336px;
        height: 600px;
    }
}
