<div x-data="{ open: false }">
    <a
        class="text-blue-600 dark:text-blue-400 cursor-pointer"
        @click="open = true"
        x-ref="faq_modal_button"
    >FAQs</a>

    <div role="dialog"
         aria-labelledby="faq_modal_label"
         aria-modal="true"
         tabindex="0"
         x-show="open"
         @click="open = false; $refs.faq_modal_button.focus()"
         @click.away="open = false; $refs.faq_modal_button.focus()"
         class="fixed z-[9999] top-0 left-0 w-full h-screen flex justify-center items-center backdrop-blur-sm"
    >
        <div aria-hidden="true"
            class="absolute top-0 left-0 w-full h-screen bg-black transition duration-300"
            :class="{ 'opacity-60': open, 'opacity-0': !open }"
            x-show="open"
            x-transition:leave="delay-150"></div>
        <div data-modal-document
            @click.stop=""
            x-show="open"
            x-transition:enter="transition ease-out duration-300"
            x-transition:enter-start="transform scale-50 opacity-0"
            x-transition:enter-end="transform scale-100 opacity-100"
            x-transition:leave="transition ease-out duration-300"
            x-transition:leave-start="transform scale-100 opacity-100"
            x-transition:leave-end="transform scale-50 opacity-0"
            class="flex flex-col rounded-md shadow-sm overflow-hidden w-3/5 h-3/5 z-10 bg-gray-100 dark:bg-gray-800"
        >
          <div class="p-6 pb-4 bg-gray-100 dark:bg-gray-800">
            <h2 id="faq_modal_label" class="text-xl">FAQs</h2>
          </div>
          <div class="p-6 pt-0 bg-gray-100 dark:bg-gray-800">
            <details class="py-4">
                <summary class="cursor-pointer">
                    How to load the program at a different location?
                </summary>
                <p class="pt-2">
                    You can add the <code>ORG</code> directive at the start of the program and provide the desired load address.
                    <pre class="bg-gray-200 dark:bg-gray-900 p-2">
                    <code>
org 0800h

jmp start

;data

;code
start: nop


hlt
                    </code>
                    </pre>
                <p>
            </details>
          </div>
        </div>
    </div>
</div>
