---
const year = new Date().getFullYear();
---
<footer class="flex items-center justify-center h-8 bg-gray-100 dark:bg-gray-900 text-gray-600 z-999 border-t dark:border-t-gray-500 text-sm">
    <p>&copy; {year} Debjit Biswas</p>
</footer>
