---
import GithubIcon from '../icons/github.svg?raw';
import FAQs from './FAQs.astro';
import ThemeSwitcher from './ThemeSwitcher.astro';
import { Actions } from './Actions.jsx';
---
<header class="w-full py-4 bg-gray-100 dark:bg-gray-900 flex justify-between items-center h-16">
    <div class="flex items-center gap-2 w-full">
        <div class="w-[25vw] min-w-[295px] flex items-center gap-2 pl-4">
            <img src="/favicon-dark.svg" alt="Sim8085" class="w-8 h-8 hidden dark:inline">
            <img src="/favicon.svg" alt="Sim8085" class="w-8 h-8 dark:hidden">
            <span class="text-gray-800 dark:text-gray-200">Sim8085</span>
        </div>
        <div class="w-[45vw] flex-grow flex-shrink max-w-[800px] min-w-[300px] flex">
            <div class="flex-grow"></div>
            <Actions client:idle />
        </div>
        <div class="w-[30vw] min-w-[320px] flex-grow flex-shrink-0 flex items-start">
        <!-- <div class="flex flex-grow items-center gap-2 space-x-2"> -->
            <!-- <div class="pl-2 border-r border-r-gray-500 dark:border-r-gray-600 h-4"></div> -->
            <div class="flex-grow"></div>
            <ThemeSwitcher />
        </div>
    </div>
</header>
