---
import HandHoldingHeartIcon from '../icons/hand-holding-heart.svg?raw';
import Logo from '../icons/logo.svg?raw';
import LogoWithBackground from '../icons/logo-with-green-background.svg?raw';
import FAQs from './FAQs.astro';
import ThemeSwitcher from './ThemeSwitcher.astro';
import { Actions } from './Actions.jsx';

interface Props {
	showActions: boolean;
	fullwidth: boolean;
}

const { showActions, fullwidth } = Astro.props;
---
<header class="w-full py-2 md:py-4 justify-start md:justify-between items-center h-auto md:h-16 md:flex">
    <div class="flex items-center gap-2 w-full">
        <!-- <a href="/" class="w-[25vw] md:min-w-[295px] flex items-center gap-2 pl-4">
            <span class="w-6 h-6 text-terminal"><Fragment set:html={LogoWithBackground} /></span>
            <span class="text-gray-800 dark:text-gray-200">Sim8085</span>
        </a> -->
        <div class="hidden md:block w-[25vw]">
            <a
                href="/"
                class="inline-flex items-center gap-2 ml-1 pl-1 lg:ml-2 lg:pl-2 pr-2 py-2 rounded group hover:bg-terminal-200"
            >
            <span class="w-6 h-6 text-terminal z-10 relative">
                <Fragment set:html={LogoWithBackground} />
            </span>
            <span
                class="hidden md:block relative text-gray-800 transform -translate-x-8 opacity-0 transition-all duration-100 group-hover:translate-x-0 group-hover:opacity-100"
            >
                Sim8085
            </span>
            </a>
        </div>
        <div class="w-auto md:w-[45vw] pl-2 md:pl-0 flex flex-grow flex-shrink max-w-[800px] md:min-w-[300px]">
            <div class="flex-grow hidden md:block"></div>
            { showActions ? <Actions client:idle /> : null }
        </div>
        <div class={`${fullwidth ? "w-[30vw]" : ""} flex-grow flex-shrink-0 flex items-start pr-2 md:pr-4`}>
        <!-- <div class="flex flex-grow items-center gap-2 space-x-2"> -->
            <!-- <div class="pl-2 border-r border-r-gray-500 dark:border-r-gray-600 h-4"></div> -->
            <div class="flex-grow"></div>
            <ThemeSwitcher />
            <link href="https://fonts.googleapis.com/css?family=Inter&amp;display=swap" rel="stylesheet">
            <a
                class="bmc-btn"
                target="_blank"
                href="https://buymeacoffee.com/sim8085"
                title="Your support helps me improve Sim8085, create new tutorials, and keep this platform running for students and enthusiasts worldwide!"
            >
                <span>
                    <Fragment set:html={HandHoldingHeartIcon } />
                </span> <span class="hidden md:inline bmc-btn-text">Donate</span>
            </a>
        </div>
    </div>
</header>

<style>
.bmc-btn {
  @apply h-8 py-4 px-4 flex items-center gap-2 rounded-lg text-sm bg-transparent box-border text-terminal border-2 border-terminal border-opacity-20 hover:border-opacity-100;
  /* font-family: 'Inter', sans-serif !important; */
  font-weight: bold;
  position: relative;
  z-index: 1;
  transition: transform 0.2s ease, box-shadow 0.5s ease;
  /* box-shadow: 0 0 10px rgba(0, 204, 255, 0.2); */
  /* animation: subtle-glow 3s infinite; */
}

/* Glow animation */
@keyframes subtle-glow {
  0% {
    box-shadow: 0 0 8px rgba(0, 204, 255, 0.2), 0 0 15px rgba(0, 204, 255, 0.15);
  }
  50% {
    box-shadow: 0 0 12px rgba(0, 204, 255, 0.3), 0 0 20px rgba(0, 204, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 8px rgba(0, 204, 255, 0.2), 0 0 15px rgba(0, 204, 255, 0.15);
  }
}

/* Hover effect */
.bmc-btn:hover {
  /* transform: scale(1.05); */
  animation: none;
  box-shadow: none;
}
</style>
