---
import HandHoldingHeartIcon from '../icons/hand-holding-heart.svg?raw';
import FAQs from './FAQs.astro';
import ThemeSwitcher from './ThemeSwitcher.astro';
import { Actions } from './Actions.jsx';

interface Props {
	showActions: boolean;
}

const { showActions } = Astro.props;
---
<header class="w-full py-4 bg-gray-100 dark:bg-gray-900 flex justify-between items-center h-16">
    <div class="flex items-center gap-2 w-full">
        <div class="w-[25vw] min-w-[295px] flex items-center gap-2 pl-4">
            <img src="/favicon-dark.svg" alt="Sim8085" class="w-8 h-8 hidden dark:inline">
            <img src="/favicon.svg" alt="Sim8085" class="w-8 h-8 dark:hidden">
            <span class="text-gray-800 dark:text-gray-200">Sim8085</span>
        </div>
        <div class="w-[45vw] flex-grow flex-shrink max-w-[800px] min-w-[300px] flex">
            <div class="flex-grow"></div>
            { showActions ? <Actions client:idle /> : null }
        </div>
        <div class="w-[30vw] min-w-[320px] flex-grow flex-shrink-0 flex items-start pr-4">
        <!-- <div class="flex flex-grow items-center gap-2 space-x-2"> -->
            <!-- <div class="pl-2 border-r border-r-gray-500 dark:border-r-gray-600 h-4"></div> -->
            <div class="flex-grow"></div>
            <ThemeSwitcher />
            <link href="https://fonts.googleapis.com/css?family=Cookie&amp;display=swap" rel="stylesheet">
            <a
                class="bmc-btn"
                target="_blank"
                href="https://buymeacoffee.com/sim8085"
                title="Your support helps me improve Sim8085, create new tutorials, and keep this platform running for students and enthusiasts worldwide!"
            >
                <span>
                    <Fragment set:html={HandHoldingHeartIcon } />
                </span> <span class="bmc-btn-text">Support Sim8085</span>
            </a>
        </div>
    </div>
</header>

<style>
.bmc-btn {
  font-family: 'Cookie', cursive !important;
  @apply h-8 py-0 px-4 flex items-center gap-2 rounded-md text-lg font-bold bg-sky-700 box-border text-white;
  position: relative;
  z-index: 1;
  transition: transform 0.2s ease, box-shadow 0.5s ease;
  box-shadow: 0 0 10px rgba(0, 204, 255, 0.2);
  animation: subtle-glow 3s infinite;
}

/* Glow animation */
@keyframes subtle-glow {
  0% {
    box-shadow: 0 0 8px rgba(0, 204, 255, 0.2), 0 0 15px rgba(0, 204, 255, 0.15);
  }
  50% {
    box-shadow: 0 0 12px rgba(0, 204, 255, 0.3), 0 0 20px rgba(0, 204, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 8px rgba(0, 204, 255, 0.2), 0 0 15px rgba(0, 204, 255, 0.15);
  }
}

/* Hover effect */
.bmc-btn:hover {
  /* transform: scale(1.05); */
  animation: none;
  box-shadow: none;
}
</style>
