@keyframes contentShow {
    from {
        opacity: 0;
        transform: scale(0.96);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes contentHide {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.96);
    }
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

.toast__list {
    --viewport-padding: 16px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: var(--viewport-padding);
    gap: 8px;
    width: 400px;
    max-width: 100vw;
    margin: 0;
    list-style: none;
    z-index: 9999;
    outline: none;
}

.toast {
    box-shadow:
        0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.toast[data-opened] {
    animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.toast[data-closed] {
    animation: hide 100ms ease-in;
}

.toast[data-swipe="move"] {
    transform: translateX(var(--kb-toast-swipe-move-x));
}

.toast[data-swipe="cancel"] {
    transform: translateX(0);
    transition: transform 200ms ease-out;
}

.toast[data-swipe="end"] {
    animation: swipeOut 100ms ease-out;
}

.toast__progress-fill {
    width: var(--kb-toast-progress-fill-width);
    transition: width 250ms linear;
}
@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes slideIn {
    from {
        transform: translateX(calc(100% + var(--viewport-padding)));
    }
    to {
        transform: translateX(0);
    }
}
@keyframes swipeOut {
    from {
        transform: translateX(var(--kb-toast-swipe-end-x));
    }
    to {
        transform: translateX(calc(100% + var(--viewport-padding)));
    }
}

.dialog__overlay {
    @apply fixed;
    @apply inset-0;
    @apply z-50;
    @apply bg-gray-600;
    @apply bg-opacity-20;
    @apply backdrop-blur-sm;
    animation: overlayHide 250ms ease 100ms forwards;
}

.dialog__overlay[data-expanded] {
    animation: overlayShow 250ms ease;
}

.dialog__positioner {
    @apply fixed;
    @apply inset-0;
    @apply z-50;
    @apply flex;
    @apply items-center;
    @apply justify-center;
}

.dialog__content {
    @apply z-50;
    @apply min-w-full md:min-w-[500px] min-h-svh md:min-h-max;
    background-color: rgb(var(--sm-secondary-background));
    border: 1px solid hsl(240 5% 84%);
    border-radius: 6px;
    padding: 16px;
    box-shadow:
        0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    animation: contentHide 300ms ease-in forwards;
}

.dialog__content[data-expanded] {
    animation: contentShow 300ms ease-out;
}

.dialog__header {
    @apply flex;
    @apply items-baseline;
    @apply justify-between;
    @apply mb-4;
}

.dialog__close-button {
    height: 16px;
    width: 16px;
}

.dialog__title {
    @apply text-lg;
    @apply font-semibold;
    color: rgb(var(--sm-secondary-foreground));
}

.dialog__description {
}

@keyframes overlayShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes overlayHide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.tooltip__content {
    @apply border;
    @apply rounded-sm;
    @apply p-2;
    @apply text-sm;
    @apply z-50;
    background-color: rgb(var(--sm-main-background));
    border-color: rgb(var(--sm-main-border));
    max-width: min(calc(100vw - 16px), 380px);
    box-shadow:
        0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    animation: contentHide 150ms ease-in forwards;
}

.tooltip__content[data-expanded] {
    animation: contentShow 150ms ease-out;
}

.carbon-demo {
    background-color: #fff;
    border-radius: 0.2em;
    display: grid;
    grid-template-columns: 130px 1fr;
    justify-content: center;
    margin: 0 auto;
    max-width: 360px;
    overflow: hidden;
    position: relative;
}

.carbon-img {
    height: auto;
    width: 130px;
}

.carbon-desc {
    font-size: 0.875rem;
    line-height: 1.35;
    padding: 0.75rem;
}
